@font-face {
  font-family: "lights";
  src: url(../fonts/HELVETICANEUELTGEO-45LIGHTS.TTF);
}

@font-face {
  font-family: "roman";
  src: url(../fonts/HELVETICANEUELTGEO-55ROMAN.TTF);
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header {
  background-color: #0a22f4;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
  margin: auto;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
}

.home {
  border-bottom: 1px solid #ffffff;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 42px;
  font-family: lights;
}


a:link {
  text-decoration: none;
}

a {
  color: #ffffff;
}

button {
  background-color: #ffffff;
  color: #171717;
  width: 160px;
  height: 55px;
  font-family: roman;
  padding: 18px;
}

main {
  margin-top: 100px;
  justify-content: center;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 32px;
  font-weight: bolder;
  font-family: roman;
}

.dots {
  display: flex;
  gap: 20px;
}

.dot {
  background-color: #0a22f4;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.second-row {
  display: flex;
  margin-top: 60px;
}

.box {
  width: 463px;
height: 235px;
}

.box-img {
  background-color: #f9f9f9;
  width: 70px;
  height: 70px;
}

.box-img-blue {
  background-color: #0a22f4;
  width: 70px;
  height: 70px;
}

h2 {
  font-size: 22px;
  font-family: roman;
  color: #171717;
}

.box-text {
  font-size: 16px;
  color: #171717;
  font-family: lights;
}
