@font-face {
    font-family: "Helvetica Neue Lights";
    src: url(/fonts/HELVETICANEUELTGEO-45LIGHTS.TTF);
  }
  
  @font-face {
    font-family: "Helvetica Neue Roman";
    src: url(/fonts/HELVETICANEUELTGEO-55ROMAN.TTF);
  }

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header {
  background-color: #0A22F4;
}